Xero-Tenant-Id: {{demoTenantId}}
Authorization: Bearer {{accessToken}}

----

#### [[QueryName]]
GET [[BaseUrl]]/[[Path]]
[[StandardHeaders]]

----

#### [[QueryName]]
POST [[BaseUrl]]/[[Path]]  HTTP/1.1
[[StandardHeaders]]
[[QueryHeaders]]

{
    [[QueryBody]]
}

----

#### [[QueryName]]
PUT [[BaseUrl]]/[[Path]]  HTTP/1.1
[[StandardHeaders]]
[[QueryHeaders]]

{
    [[QueryBody]]
}


----

#### [[QueryName]]
PATCH [[BaseUrl]]/[[Path]]  HTTP/1.1
[[StandardHeaders]]
[[QueryHeaders]]

{
    [[QueryBody]]
}

----

#### [[QueryName]]
DELETE [[BaseUrl]]/[[Path]]
[[StandardHeaders]]

----

#### [[QueryName]]
HEAD [[BaseUrl]]/[[Path]]
[[StandardHeaders]]

----

#### [[QueryName]]
OPTIONS [[BaseUrl]]/[[Path]]
[[StandardHeaders]]

----

#### [[QueryName]]
TRACE [[BaseUrl]]/[[Path]]
[[StandardHeaders]]
